pip>=19.1.1
APScheduler>=3.5.3
flask==2.0.2
flask-compress>=1.4.0
Flask-SQLAlchemy==2.5.1
logparser==0.8.2
requests>=2.21.0
setuptools>=40.6.3
six>=1.12.0
SQLAlchemy==1.4.11
w3lib>=1.17.0
logparser
werkzeug==2.0.2

psycopg2-binary==2.9.7
ipython
scrapy
scrapyd
scrapyd-client
scrapydweb
logparser

fastapi
SQLAlchemy
pydantic
pydantic[email]
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pytest
python-dotenv
alembic
psycopg2-binary
email-validator
requests
pika
python-decouple
pymongo
